<p>
  <b>Title:</b>
  <%=h @recipe.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @recipe.description %>
</p>

<h2>Instructions</h2>

<% if @recipe.instructions.length > 0 %>
	<ol>
		<% @recipe.instructions.each do |instruction| %>
			<li><%= h instruction.description %></li>
		<% end %>
	</ol>
<% else %>
	<p>There are no instructions yet.</p>
<% end %>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
